# Streamlit for web app frontend
streamlit>=1.30.0

# Requests for API calls (ScaleDown)
requests>=2.31.0

# Numpy for cosine similarity and vector math
numpy>=1.26.0

# Python-dotenv to load environment variables
python-dotenv>=1.0.0

# Sentence Transformers for embeddings
sentence-transformers>=2.2.2

# Optional: if you want to save results in Excel or CSV later
pandas>=2.1.1
openpyxl>=3.1.3
